.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
  max-width: 1128px;
  padding-left: 0;
  margin: 0 auto;
}
.gallery-image {
  display: block;
}
